html,body,ul,p,h1,form {margin: 0;padding:0;font-family:arial;}
a {text-decoration:none;}
a:hover{text-decoration:underline;}
li {list-style:none;}
body{background: url(images/body_bg.png) repeat-x;}
#top {width:960px;height:30px;margin:0 auto;line-height: 30px;font-size: 13px;}
	.top_menu{float: left;}
	.top_menu li{float:left;background: url(images/top_bg.gif) no-repeat right 14px;
		margin-right: 15px;padding-right: 18px;}
	.top_menu .none{background: none;}
	.top_menu li a{color:#C0C0C0;}
	.top_menu li a:hover{color:white;}

	.top_bar{float:left;color:white;font-weight:bold;}
	.top_bar li{float:left;}
	.top_bar .phone{background: url(images/top_bg.gif) no-repeat left -13px;margin-left:107px;padding-left: 28px; }
	.top_bar .help {background: url(images/top_bg.gif) no-repeat left -43px;margin-left:38px;padding-left:38px; }
	.top_bar .flag {margin-left: 20px;}
	.top_bar .flag a{margin-left:9px;}

#header {position:relative;width: 960px;height:100px;margin:0 auto;background: url(images/header_bg.png) no-repeat center 0;}
	.bag{position:absolute;width: 300px;height:100px;background: url(images/ico.png) no-repeat 0 7px;padding-left:84px; }
	.bag p{position:relative;color:#F7F7F7;font-size:20px;left:1px;top: 28px;font-weight:bold;}
	.bag a{position:relative;width:114px;height:23px;line-height:22px;left:20px;top:38px;display:block;
		text-align:center;background: url(images/ico.png) no-repeat 0 -93px;color:#FFC200;font-weight: bold;}
#header h1{margin:0 auto;width: 238px;}
	.search {position:absolute;right: 0px;top:30px;width:;height:31px;width:292px;background:url(images/ico.png) no-repeat 0 -116px;}
	.search input{outline: none;border: none;}
	.search .btn{width: 34px;height: 20px;}
	.search .text{width:100px;height: 22px;margin-top: 4px;margin-left: 8px;width: 236px;background: transparent;}
#footer { height:702px; background:url(images/footer_bg.png) repeat-x; }