html,body,ul,dl,dd,p,h1,h2,h3,form {margin: 0;padding:0;font-family:arial;}
img{border:none;}
a {text-decoration:none;}
a:hover{text-decoration:underline;}
li {list-style:none;}
body{background: url(images/body_bg.png) repeat-x;}
#top {width:960px;height:30px;margin:0 auto;line-height: 30px;font-size: 13px;}
	.top_menu{float: left;}
	.top_menu li{float:left;background: url(images/top_bg.gif) no-repeat right 14px;
		margin-right: 15px;padding-right: 18px;}
	.top_menu .none{background: none;}
	.top_menu li a{color:#C0C0C0;}
	.top_menu li a:hover{color:white;}

	.top_bar{float:left;color:white;font-weight:bold;}
	.top_bar li{float:left;}
	.top_bar .phone{margin-left:107px;padding-left: 28px;background: url(images/top_bg.gif) no-repeat left -13px;}
	.top_bar .help {margin-left:38px;padding-left:38px;background: url(images/top_bg.gif) no-repeat left -43px;}
	.top_bar .flag {margin-left: 22px;height: 29px;padding-top: 1px;}
	.top_bar .flag a{margin-left:8px;}
